---
export interface Props {
  buttonId: string;
  text: string;
	loadFullURL?: boolean;
}
const { buttonId, text } = Astro.props;

---
<button id={buttonId}>{text}</button>
<script>

import { OPTIONS, starFlow, runCompare, runFullFlow } from "../lib/utils";

  document.getElementById('loadProdFile')?.addEventListener('click', ()=> {
    starFlow(OPTIONS.PROD_SECTION, 'sectionId', true);
  });
  document.getElementById('loadFullUrl')?.addEventListener('click', ()=> {
    starFlow(OPTIONS.FULL_URL, 'urlSectionId', false);
  });

  document.getElementById('runCompare')?.addEventListener('click', ()=> {
    runCompare();
  });

  document.getElementById('runFullFlow')?.addEventListener('click', ()=> {
    runFullFlow();
  });
</script>
